/* Full screen canvas */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #87ceeb; /* fallback biru langit */
}

canvas {
  display: block;
  margin: 0 auto;
  background: #87ceeb;
}
